*.py[cod]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# IntelliJ
.idea/
*.iml

# Ignore Natlink files
core/

config/programs.json
config/monitors.json
config/special_words.json
config/mouse.json
